.header {
    height: 10.5rem;
    box-shadow: 0 2px 4px 0 #0000001a;

    .wrap {
        position: relative;
        height: 100%;
        max-width: 1450px;
        margin: 0 auto;

        .logo {
            width: 7.0rem;
            position: absolute;
            top: 33%; 
            left: 10px;
            -webkit-transform: translateY(-30%);
            -moz-transform: translateY(-30%);
            transform: translateY(-30%);

            img {
                display: block;
                width: 100%;
                margin: 0;
            }
        }
        
        h1 {
            position: relative;
            top: 45%;
            left: 100px;
            transform: translateY(-30%);
            text-transform: uppercase;
            font-family: 'Cinzel', serif;
            font-weight: 700;
        }
    }
}